html, body {
    min-height: 100vh;
    color: #fff;
    background:#fff;
    font-family: 'Trebuchet MS';
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-bar {
    color: #fc0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 10px 20px;
    z-index: 1000;
}

.top-bar a {
    font-size: 21px;
    padding: 5px;
    border-radius: 5px;
    color: #000;
    background-color: #fc0;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.top-bar a:hover {
    background-color: black;
    color: yellow;
}

.top-bar:active{
    background-color: red;
}

.options-container, .filter-container {
    margin-top: 50px;
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 2px solid black;
    justify-content: space-between;
}

.sort-options {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
}

.sort-options label {
    font-weight: bold;
    color: black;
}

.sort-options select {
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
}

.sort-order {
    /* background-color: yellow; */
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid black;
    cursor: pointer;
    font-weight: bold;
}

.sort-order:hover {
    background-color: black;
    color: yellow;
    transition: background-color 0.3s ease, color 0.3s ease;
} 

.show, #toggle:checked ~ div .hide, #toggle:checked ~ .hide{
    display: block;
}

.hide, #toggle:checked ~ div .show, #toggle:checked ~ .show{
    display: none;
}

#changeStyleButton {
    /* background-color: yellow; */
    color: black;
    border: 2px solid black;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

#changeStyleButton:hover {
    background-color: black;
    color: yellow;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.artist-container {
    margin: 5px;
    margin-top: 100px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.all-info{
    color: #000;
}
.all-info h1 {
    margin: 0px;
}
.all-info h4 {
    color: #666;
    margin: 0px;
}
.data-row{
    display: flex;
}
.name-since{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.name-since img{
    border-radius: 5px;
    object-fit: cover;
    border: 1px solid #666;
}

.data-row p{
    margin: 2px;
}

.data-col{
    margin: 10px;
}

/* Fallback message styling */
h2 {
    text-align: center;
    color: #777;
}

.back-button{
    width: 60px;
    height: 60px;
    font-size: xx-large;
    border-radius: 50%;
    color: black;
    border: 2px solid black;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 20px;
}

.back-button:hover {
    background-color: black;
    color: yellow;
    transition: background-color 0.3s ease, color 0.3s ease;
}

footer {
    background-color: #000;
    font-size: 10px;
    padding: 5px 10px;
}

footer a{
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: yellow;
}

footer:active{
    background-color: red;
}
.container  {
    color: #000;
}

@media (max-width: 480px) {
    .options-container{
        flex-direction: column;
    }
    .data-row{
        display: flex;
        flex: 1;
        flex-direction: column;
    }
}

@media (max-width: 360px) {
    .card-img {
        width: 75vw;
    }
}
