<!-- templates/artist.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <title>Groupie-tracker</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header class="top-bar">
        <a href="/">groupie<br>-tracker</a>
    </header>

    <div class="container">
        <div class="all-info">
            <div class="top-data">
                <div class="name-since">
                    <img src={{.Artist.Image}} alt={{.Artist.Name}} >
                </div>
                <div class="name-since">
                    <h1>{{.Artist.Name}}</h1>
                    <p>Since {{.Artist.CreationDate}}<br><br></p>

                    {{if gt .Artist.MembersCount 1}}
                        <h3>Members:</h3>
                        {{range .Artist.Members}}
                        <p>- {{.}}</p>
                        {{end}}
                    {{end}}
                </div>
            </div>

            <p>First Album: {{.Artist.FirstAlbum}}</p>
            <p>No. of Performance: {{.Artist.Performances}}</p>
        </div>
    </div>

    <footer class="footer">
        <p>Anass Touba (atouba) & Allen Lee (ylee)</p>
    </footer>
</body>
</html>