<!-- templates/artist.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <title>Groupie-tracker</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header class="top-bar">
        <a href="/">groupie-tracker</a>
    </header>

    <div class="artist-container">
        <div class="all-info">
            <div class="data-row">
                <div class="name-since">
                    <img src={{.Artist.Image}} alt={{.Artist.Name}} >
                </div>
                <div class="name-since">
                    <h1>{{.Artist.Name}}</h1>
                    {{if and (eq .Artist.MembersCount 1) (ne .Artist.Name (index .Artist.Members 0))}}
                    <p>({{index .Artist.Members 0}})</p>
                    {{end}}
                    <p>Started {{.Artist.CreationDate}}<br><br></p>

                    {{if gt .Artist.MembersCount 1}}
                        <h4>Members:</h4>
                        {{range .Artist.Members}}
                        <p>- {{.}}</p>
                        {{end}}
                    {{end}}
                </div>
            </div>

            <div class="data-row">
                <div class="data-col">
                    <h4>First Album:</h4> 
                    <p>{{.Artist.FirstAlbum}}<br><br></p>
                    <h4>No. of Performance:</h4>
                    <p>{{.Artist.Performances}}<br><br></p>
                    <h4>No. of Countries Perfomed:</h4>
                    <p>{{.Artist.LocCount}}</p>
                </div>
                <div class="data-col">
                    {{if gt .Artist.MembersCount 0}}
                    <h4>Performances:</h4>
                        {{range $key, $value := .Artist.LocDate}}
                        <p>{{$key}}</p>
                            {{range $value}}
                                <p>- {{.}}</p>
                            {{end}}
                        <br>
                        {{end}}
                    {{end}}
                </div>
            </div>
        </div>
        <button class="back-button" onclick="window.history.back()">◀</button>
    </div>

    <footer class="footer">
        <a href="mailto:yuanneng.lee@gritlab.ax"> Contact Us</a>
        <p>Anass Touba (atouba) & Allen Lee (ylee)</p>
    </footer>
</body>
</html>