<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <title>Groupie-tracker</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header class="top-bar">
        <a href="/">groupie-tracker</a>
    </header>

    <div class="options-container">
        <form class="sort-options" action="/" method="post">
            <button name="switch-order" id="switch-order" class="sort-order" type="submit" value={{.Order}}>
                {{.Order}}
            </button>
            <label for="sort">Sort by:</label>
            <select name="sort" id="sort" onchange="this.form.submit()">
                <option value="default" {{if eq .SortBy "default"}}selected{{end}}>default</option>
                <option value="name" {{if eq .SortBy "name"}}selected{{end}}>Name</option>
                <option value="creation_date" {{if eq .SortBy "creation_date"}}selected{{end}}>Creation Date</option>
            </select>
        </form>
    </div>

    <div class="container">
        {{range .Artists}}
        <a class="card" href="/{{.Name}}">
            <img class="card-img" src={{.Image}} alt={{.Name}} >
            <div>
                <p>{{.Name}}</p>
                <p>Started {{.CreationDate}}<br><br></p>
            </div>
        </a>
        {{end}}
    </div>
    <button class="back-button" onclick="window.scrollTo({ top: 0, behavior: 'smooth' })">▲</button>

    <footer class="footer">
        <p>Anass Touba (atouba) & Allen Lee (ylee)</p>
    </footer>
</body>
</html>