<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <title>Groupie-tracker</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header class="top-bar">
        <a href="/">groupie-tracker</a>
    </header>

    <div class="container">
        {{range .Artists}}
        <a class="card" href="/{{.Name}}">
            <img class="card-img" src={{.Image}} alt={{.Name}} >
            <div class="card-div">
                <p style="font-size: large; color: #fff;">{{.Name}}</p>
                <p>Created on: {{.CreationDate}}</p>
                <p>First Album: {{.FirstAlbum}}</p>
                <p>No. of Performance: {{.Performances}}</p>
            </div>
            <div class="card-div">
                <p>Members:</p>
                {{range .Members}}
                    <p>{{.}}</p>
                {{end}}
            </div>
        </a>
        {{end}}
    </div>

    <footer class="footer">
        <p>Anass Touba (atouba) & Allen Lee (ylee)</p>
    </footer>
</body>
</html>