<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <title>Groupie-tracker</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/style-filter-form.css">
    <link rel="stylesheet" id="style" href="/static/css/style-card-view.css">
</head>
<body>
    <header class="top-bar">
        <a href="/">groupie-tracker</a>
    </header>

    <form action="/" method="post">
        <input id="toggle" type="checkbox" style="display: none;">
        
        <div class="options-container">
            <div>
                <label class="sort-order show" for="toggle">Show Filters</label>
                <label class="sort-order hide" for="toggle">Hide Filters</label>
            </div>
            <div class="sort-options" >
                <label for="sort">Sort by:</label>
                <select name="sort" id="sort" onchange="this.form.submit()">
                    <option value="default" {{if eq .SortBy "default"}}selected{{end}}>default</option>
                    <option value="name" {{if eq .SortBy "name"}}selected{{end}}>Name</option>
                    <option value="creation_date" {{if eq .SortBy "creation_date"}}selected{{end}}>Creation Date</option>
                    <option value="membersCount" {{if eq .SortBy "membersCount"}}selected{{end}}>No of Members</option>
                    <option value="firstAlbum" {{if eq .SortBy "firstAlbum"}}selected{{end}}>First Albun</option>
                </select>
                <button name="switch-order" id="switch-order" class="sort-order" type="submit" value={{.Order}}>
                    {{.Order}}
                </button>
                <input id="cssFile" type="text" name="cssFile" style="display: none;">
                <button id="changeStyleButton">Change view</button>
            </div>
        </div>

        <div class="fixed-form hide">
            <legend>Members number:</legend>
            <input type="checkbox" id="1" name="members number" value="1" {{ range .Filters.NbChecked }} {{if eq . "1" }} checked="checked" {{end}} {{ end }}>
            <label for="1">1</label>
            <input type="checkbox" id="2" name="members number" value="2" {{ range .Filters.NbChecked }} {{if eq . "2" }} checked="checked" {{end}} {{ end }}>
            <label for="2">2</label>
            <input type="checkbox" id="3" name="members number" value="3" {{ range .Filters.NbChecked }} {{if eq . "3" }} checked="checked" {{end}} {{ end }}>
            <label for="3">3</label>
            <input type="checkbox" id="4" name="members number" value="4" {{ range .Filters.NbChecked }} {{if eq . "4" }} checked="checked" {{end}} {{ end }}>
            <label for="4">4</label>
            <input type="checkbox" id="5" name="members number" value="5" {{ range .Filters.NbChecked }} {{if eq . "5" }} checked="checked" {{end}} {{ end }}>
            <label for="5">5</label>
            <input type="checkbox" id="6" name="members number" value="6" {{ range .Filters.NbChecked }} {{if eq . "6" }} checked="checked" {{end}} {{ end }}>
            <label for="6">6</label>
            <input type="checkbox" id="7" name="members number" value="7" {{ range .Filters.NbChecked }} {{if eq . "7" }} checked="checked" {{end}} {{ end }}>
            <label for="7">7</label>
            <input type="checkbox" id="8" name="members number" value="8" {{ range .Filters.NbChecked }} {{if eq . "8" }} checked="checked" {{end}} {{ end }}>
            <label for="8">8</label><br>

            <legend>Date of first album:</legend>
            <input type="text" name="first album date" {{ if .Filters.DateFA }} value="{{ .Filters.DateFA }}" {{ else }} placeholder="DD-MM-YYYY" {{ end }} />

            <legend>location(s) of concerts</legend>
            <textarea id="locations" name="locations" rows="3" class="txt-input">{{range .Filters.Locations}}{{.}}{{ end }}</textarea><br><br>
            {{if .Artists}}
            <div class="slidecontainer">
                <input type="text" name="years range" id="years range" {{ if .Filters.YearsRange }} value="{{.Filters.YearsRange}}" {{ end }}>
                <label for="years range">years range</label>
                <input type="range" name="range" min="1958" max="2015" value="1958" class="slider" id="myRange">
                <label for="myRange">apply range value
                    <input type="checkbox" name="applyRange" {{if eq .Filters.ApplyRange "on" }} checked {{end}}>
                </label>
                <!-- <div id="range-current-value"></div> -->
                <div id="range-current-value">
                    <span id="start-date"></span><span id="end-date"></span>
                </div>
            </div>
            {{end}}
            <button type="submit" class="sort-order">Apply</button>
        </div>
    </form>


    <div class="container">

        {{range .Artists}}
        <a class="card" href="/{{.Name}}">
            <img class="card-img" src={{.Image}} alt={{.Name}} >
            <div>
                <p>{{.Name}}</p>
                <p>Started {{.CreationDate}}</p>
                {{if gt .MembersCount 1}}
                <p>{{.MembersCount}} members</p>
                {{end}}
                <p>First Album: {{.FirstAlbum}}</p>
            </div>
        </a>
        {{ else }}
            <h2>Found no artist</h2>
        {{end}}
    </div>
    <button class="back-button" onclick="window.scrollTo({ top: 0, behavior: 'smooth' })">▲</button>

    <footer class="footer">
        <a href="mailto:yuanneng.lee@gritlab.ax"> Contact Us</a>
        <p>Anass Touba (atouba) & Allen Lee (ylee)</p>
    </footer>
</body>

<script>
const button = document.getElementById('changeStyleButton');
const stylesheet = document.getElementById('style');

(localStorage.getItem("cssFile") !== null)? stylesheet.href = localStorage.getItem("cssFile"): null;

button.addEventListener('click', () => {
    if (stylesheet.href.substring(stylesheet.href.length-"style-card-view.css".length) === 'style-card-view.css') {
        localStorage.setItem("cssFile", '/static/css/style-list-view.css')
    }
    else {
        localStorage.setItem("cssFile", '/static/css/style-card-view.css')
    }
    
    stylesheet.href = localStorage.getItem("cssFile")
});

/*------------------------------------------------------------------------------------------------*/

var yearsRangeInput = document.getElementById("years range")
var startDateOutput = document.getElementById("start-date")
var endDateOutput = document.getElementById("end-date")

var slider = document.getElementById("myRange")
var output = document.getElementById("range-current-value");

startDateOutput.innerHTML = slider.value; // Display the default slider value

yearsRangeInput.oninput = function() {
    // endDateOutput.innerHTML = " " + this.value
    date = parseInt(startDateOutput.innerHTML) + parseInt(this.value)
    if (typeof date === 'number' && !isNaN(date)) {
        latterDate = (date).toString()
        endDateOutput.innerHTML = " " + latterDate
    } else {
        endDateOutput.innerHTML = ""
    }

    if (parseInt(endDateOutput.innerHTML) < parseInt(startDateOutput.innerHTML)) {
        [startDateOutput.innerHTML, endDateOutput.innerHTML] = [endDateOutput.innerHTML, startDateOutput.innerHTML] 
    }
    startDateOutput.innerHTML = sanitize(startDateOutput.innerHTML)
    endDateOutput.innerHTML = sanitize(endDateOutput.innerHTML)

    if (endDateOutput.innerHTML[0] !== ' ')
        endDateOutput.innerHTML = " " + endDateOutput.innerHTML
    if (startDateOutput.innerHTML[0] === ' ')
        startDateOutput.innerHTML = startDateOutput.innerHTML.substring(1)
}

// output.innerHTML = slider.value; // Display the default slider value

// Update the current slider value (each time you drag the slider handle)
slider.oninput = function() {
    // output.innerHTML = this.value;
    startDateOutput.innerHTML = this.value;
    if (typeof yearsRangeInput.innerHTML === 'number' && !isNaN(yearsRangeInput.innerHTML)) {
        endDateOutput.innerHTML = (parseInt(startDateOutput.innerHTML) + parseInt(yearsRangeInput.innerHTML)).toString()
    }

    if (parseInt(endDateOutput.innerHTML) < parseInt(startDateOutput.innerHTML)) {
        [startDateOutput.innerHTML, endDateOutput.innerHTML] = [endDateOutput.innerHTML, startDateOutput.innerHTML] 
    }
    startDateOutput.innerHTML = sanitize(startDateOutput.innerHTML)
    endDateOutput.innerHTML = sanitize(endDateOutput.innerHTML)

    if (endDateOutput.innerHTML[0] !== ' ')
        endDateOutput.innerHTML = " " + endDateOutput.innerHTML
    if (startDateOutput.innerHTML[0] === ' ')
        startDateOutput.innerHTML = startDateOutput.innerHTML.substring(1)
}

function sanitize(x) {
    if (parseInt(x) > 2015) {
        return "2015"
    }
    if (parseInt(x) < 1958) {
        return "1958"
    }
    return x
}

/*------------------------------------------------------------------------------------------------*/

const filterVisibility = document.getElementById('toggle');
(localStorage.getItem("filterToggle") === "true")? filterVisibility.checked = true: filterVisibility.checked = false;

filterVisibility.addEventListener('change', () => {
    if (filterVisibility.checked){
        localStorage.setItem("filterToggle", "true");
        filterVisibility.checked = true;
    }  else {
        localStorage.setItem("filterToggle", "false");
        filterVisibility.checked = false;
    }
});
</script>
</html>